:root {
  --color-primary: #2B2B2B;
  --color-secondary: #FFFDF9;
  --color-accent: #A5909F;
}

[data-theme="dark"] {
  --color-primary: #FFFDF9;
  --color-secondary: #2B2B2B;
  --color-accent: #A5909F;
}