:root {
  --global-font-size: 16;

  --font-weight-regular: 500;

  --font-family-dm-mono: "DM Mono", monospace;
  --font-family-dm-serif-text: "DM Serif Text", serif;
  --font-family-primary: var(--font-family-dm-mono);
}

/*
* DM Serif Text
*/
@font-face {
  font-family: "DM Serif Text";
  src: url("/fonts/DMSerifText/DMSerifText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Text";
  src: url("/fonts/DMSerifText/DMSerifText-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/*
* DM Mono
*/
@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono/DMMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono/DMMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono/DMMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono/DMMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
