%text-h1 {
  font-family: var(--font-family-dm-serif-text);
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
  line-height: 100%;
  color: var(--color-black);
}

%text-h2 {
  font-family: var(--font-family-dm-mono);
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-black);
}

%text-body {
  font-family: var(--font-family-dm-mono);
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: var(--color-black);
}