%text-h1 {
  font-family: var(--font-family-dm-serif-text);
  font-weight: 600;
  font-style: italic;
  font-size: 48px;
  color: var(--color-black);
}

%text-h2 {
  font-family: var(--font-family-dm-mono);
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  color: var(--color-black);
}

%link {
  font-family: var(--font-family-dm-mono);
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  color: var(--color-black);
  text-decoration: underline;
  text-underline-offset: 4px;
}