%text-h1 {
  font-family: var(--font-family-dm-serif-text);
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  line-height: 100%;
}

%text-h2 {
  font-family: var(--font-family-dm-mono);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
}

%text-body {
  font-family: var(--font-family-dm-mono);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

%link {
  font-family: var(--font-family-dm-mono);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 2px;
}
